@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;



.cursive {
  font-family: "Cedarville Cursive", cursive;
}
.Welcome-text {
  background: linear-gradient(
      0deg,
      rgba(229, 254, 0, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    linear-gradient(90.01deg, #e59cff 0.01%, #53ff67 50.01%, #f1ff74 100%);
  background-blend-mode: normal, screen;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Welcome-box {
  isolation: isolate;
  overflow: hidden;
  align-items: center;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 32px;
  box-shadow: inset 0 -7px 11px #a48fff1f;
  display: flex;

  position: relative;
  width: -moz-max-content;
  width: max-content;
  transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow;
}


.button-style {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 15px;
  padding: 10px 20px;
  background-color: #f0f0f0; /* Light grey background */
  color: black; /* Black text */
  text-decoration: none; /* No underline */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transition for hover effect */
}
.button-primary {
  font-weight: bold;
}

.button-style:hover {
  background-color: #f4f0f0; /* Darker grey on hover */
  transform: scale(1.05); /* Slightly larger on hover */
}

.button-style span {
  margin-left: 6px; /* Space between icon and text */
  font-size: 15px; /* Text size */
}


/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}



html {
  scroll-behavior: smooth;
}